html {
  scroll-behavior: smooth;
 }

body {
  max-width: 1980px;
  margin: 50px auto 100px auto;
  /* margin-top: 5vh; */
  background-color: white;
}

.link  {
  color: black;
  text-align: left;
  text-decoration: none;
}

.link_active  {
  color: black;
  text-align: left;
  text-decoration: underline yellow 4px;
}


.nounderline {
  text-decoration: none;
}


.navigation{
  /* font-family: 'Cormorant Garamond', serif; */
  /* font-family: 'Playfair Display', serif; */
  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Josefin Sans', sans-serif; */
  /* font-family: 'Source Serif Pro', serif; */
  font-family: 'Barlow', sans-serif;
  font-size: 14pt;
}

.navigation a:hover {
  color: black;
  text-decoration: underline yellow 4px;
}

.font-thin{
  font-weight: 100;
  /* font-style: italic; */
}

.font-regular{
  font-weight: 300;
  font-style: normal;
}

.font-bold{
  font-weight: 600;
  /* font-style: italic; */
}

.font-extrabold{
  font-weight: 600;
  /* font-style: italic; */
  text-transform: capitalize;
  letter-spacing: 4px;
}

/* a:hover { */
  /* font-weight: 300; */
  /* text-decoration: underline black 0.25px; */
  /* font-style: italic; */
  /* font-weight: 400; */
  /* text-decoration-style: wavy;   */
  /* color: black; */
/* } */

.content{
  margin: auto 125px auto 125px;
  /* margin-left: 110px; */
  /* margin-right: 110px; */
  /* font-family: 'Cormorant Garamond', serif; */
  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Josefin Sans', sans-serif; */
  /* font-family: 'Source Serif Pro', serif; */
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
  /* font-size: 12pt; */
  text-align:justify;
}


.image{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
.image img{
      position: absolute;
      max-width: auto;
      max-height: auto;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
}

/* FOOTER */
.footer{
  max-width: 1980px;
  margin-left: 125px;
  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Source Serif Pro', serif; */
  font-family: 'Barlow', sans-serif;
  font-weight: 100;
  /* max-width: 1980px; */
  /* padding: 50px 100px auto 100px; */
  height: 45px;
  bottom: 0;
  background-color: white;
  font-size: 0.80rem;
}

.footer a{
     margin-right: 20px;
     //you can adjust this margin to change spacing.
     //you can also play around with using margin instead of margin-right
}
/* END FOOTER */
