html {
  scroll-behavior: smooth;
 }

body {
  max-width: 1980px;
  margin: 50px 100px auto 100px;
  /* margin-top: 5vh; */
  background-color: white;
}

.link  {
  color: black;
  text-align: center;
}

.nounderline {
  text-decoration: none;
}


.navigation{
  font-family: 'Cormorant Garamond', serif;
  /* font-family: 'Playfair Display', serif; */
  /* font-family: 'Lato', sans-serif; */
  font-size: 16pt;
}

.font-thin{
  font-weight: 300;
}

.font-regular{
  font-weight: 500;
}

.font-bold{
  font-weight: 700;
}

a:hover {
  color: black;
  background-color: black;
}

.content{
  font-family: 'Cormorant Garamond', serif;
  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Playfair Display', serif; */
  font-weight: 300;
  text-align: justify;
}


/* FOOTER */
.footer{
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Cormorant Garamond', serif;
  font-weight: 300;
  /* max-width: 1980px;
  margin: 50px 100px auto 100px;
  height: 25px;
  bottom: 0; */
  background-color: white;
  font-size: 0.85rem;
}
/* END FOOTER */
