html {
  scroll-behavior: smooth;
 }

body {
  max-width: 1980px;
  margin: 50px auto 100px auto;
  /* margin-top: 5vh; */
  background-color: white;
}

.link  {
  color: black;
  text-align: left;
  text-decoration: none;
}

.link_active  {
  color: black;
  text-align: left;
  text-decoration: underline yellow 4px;
}


.nounderline {
  text-decoration: none;
}


.navigation{
  font-family: 'Barlow', sans-serif;
  font-size: 1.06em;
}

.navigation a:hover {
  color: black;
  text-decoration: underline   #FFFF99 4px;
}

.font-thin{
  font-weight: 100;
  /* font-style: italic; */
}

.font-regular{
  font-weight: 300;
  font-style: normal;
}

.font-bold{
  font-weight: 600;
  /* font-style: italic; */
}

.font-extrabold{
  font-weight: 600;
  /* font-style: italic; */
  text-transform: capitalize;
  letter-spacing: 4px;
}

.content{
  margin: auto 125px auto 125px;
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
  font-size: 0.95em;
  text-align:justify;
}


.image{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
.image img{
      position: absolute;
      max-width: auto;
      max-height: auto;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
}

/* FOOTER */
.footer{
  max-width: 1980px;
  margin-left: 125px;
  font-family: 'Barlow', sans-serif;
  font-weight: 100;
  height: 45px;
  bottom: 0;
  background-color: white;
  font-size: 0.80em;
}

.footer a{
     margin-right: 20px;
     //you can adjust this margin to change spacing.
     //you can also play around with using margin instead of margin-right
}
/* END FOOTER */
