html {
  scroll-behavior: smooth;
 }

body {
  max-width: 1980px;
  margin: 50px 100px auto 100px;
  /* margin-top: 5vh; */
  background-color: white;
}

.link  {
  color: black;
  text-align: center;
}

.nounderline {
  text-decoration: none;
}


.navigation{
  /* font-family: 'Cormorant Garamond', serif; */
  /* font-family: 'Playfair Display', serif; */
  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Josefin Sans', sans-serif; */
  font-family: 'Source Serif Pro', serif;
  font-size: 15pt;
}

.font-thin{
  font-weight: 200;
}

.font-regular{
  font-weight: 300;
}

.font-bold{
  font-weight: 400;
}

a:hover {
  font-weight: 300;
  text-decoration:none;
  color: black;
}

.content{
  /* font-family: 'Cormorant Garamond', serif; */
  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Josefin Sans', sans-serif; */
  font-family: 'Source Serif Pro', serif;
  /* font-family: 'Playfair Display', serif; */
  font-weight: 200;
  font-size: 11pt;
  text-align: justify;
}

.image{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
}
.image img{
      position: absolute;
      max-width: auto;
      max-height: 100%;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
}

/* FOOTER */
.footer{
  /* font-family: 'Lato', sans-serif; */
  font-family: 'Source Serif Pro', serif;
  font-weight: 300;
  max-width: 1980px;
  margin: 50px 100px auto 100px;
  height: 25px;
  bottom: 0;
  background-color: white;
  font-size: 0.85rem;
}
/* END FOOTER */
