html {
  scroll-behavior: smooth;
 }

body {
  max-width: 1980px;
  margin: 0 auto;
  margin-top: 5vh;
  background-color: white;
}

.link  {
  color: black;
  text-align: center;
}

.nounderline {
  text-decoration: none !important;
}


.navigation{
  font-family: 'Lato', sans-serif;
  font-size: 16pt;
}

.font-thin{
  font-weight: 100;
}

.font-regular{
  font-weight: 300;
}

.font-bold{
  font-weight: 700;
}

.content{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: justify;
}
